@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
body {
  padding: 0;
  margin: 0;
}
body .btn-bg {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
}
body .btn-bg.bg-1 .btn-1 button {
  color: #000000;
  background: transparent;
  border: 3px solid #c7f8f9;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
body .btn-bg.bg-1 .btn-1 button a {
  color: #c7f8f9;
}
body .btn-bg.bg-1 .btn-1 button:hover {
  background: #c7f8f9;
  color: #6ab1c9;
  border: 3px solid #6ab1c9;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
body .btn-bg.bg-1 .btn-1 button:hover >a {
  color: #6ab1c9;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
body .btn-bg.bg-1 .btn-1 button:active {
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
}

  .BotonesSelecionados {
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #fff;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 1rem 3rem 1rem 3rem;
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 2vh;
    margin: 5vh;
  
  }
  .BotonesSelecionadosCatalogo {
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #fff;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 1rem 3rem 1rem 3rem;
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 2vh;
    margin-bottom: 2vh;
  }
  .BotonesSelecionados a {
    text-decoration: none;
  }
  @media (max-width: 768px) {
    /* Estilos para pantallas de hasta 768px */
    .BotonesSelecionados {
        
        margin: 1vh;
        font-size:small;
    }}
  @media (max-width: 480px) {
    /* Estilos para pantallas de hasta 768px */
    .BotonesSelecionados {

       margin-left: 0;
        margin: 1vh;
        font-size:small;
    }}
   
  @-moz-keyframes cloud-animation {
    100% {
      background-position: 0px 2em;
    }
  }
  @-webkit-keyframes cloud-animation {
    100% {
      background-position: 0px 2em;
    }
  }
  @-o-keyframes cloud-animation {
    100% {
      background-position: 0px 2em;
    }
  }
  @keyframes cloud-animation {
    100% {
      background-position: 0px 2em;
    }
  }
  @-moz-keyframes witch-word-color {
    0% {
      color: #d3b7f7;
    }
    50% {
      color: #50514f;
    }
    100% {
      color: #fff;
    }
  }
  @-webkit-keyframes witch-word-color {
    0% {
      color: #d3b7f7;
    }
    50% {
      color: #50514f;
    }
    100% {
      color: #fff;
    }
  }
  @-o-keyframes witch-word-color {
    0% {
      color: #d3b7f7;
    }
    50% {
      color: #50514f;
    }
    100% {
      color: #fff;
    }
  }
  @keyframes witch-word-color {
    0% {
      color: #d3b7f7;
    }
    50% {
      color: #50514f;
    }
    100% {
      color: #fff;
    }
  }